[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ujson = "*"
pandas = "*"
pymongo = "*"
requests = "*"
dnspython = "*"
sanic = "*"
apscheduler = "*"

[requires]
python_version = "3.8"
